<header class="container-fluid  px-0 ">


    <nav class="navbar navbar-dark bg-info bg-gradient fixed-top align-middle">

        <a class="navbar-brand ms-5" href="#">
            <H1 class="h2 border border-1 border-light px-3 py-1 rounded">
                <fa-icon [icon]= "faHSquare" class="me-2"></fa-icon>Hôtelier</H1>
        </a>
        <nav class="nav ms-2 me-auto" *ngIf="auth.isConnected()">
            <a class="nav-link text-light fs-5" [routerLink]="['hotel']">Hôtels</a>
            <a class="nav-link text-light fs-5" [routerLink]="['clients']">Clients</a>


        </nav>

        <div class="me-5" *ngIf="!auth.isConnected()">
            <button type="button" class="btn btn-outline-light" [routerLink]="['login']"> Se connecter</button>

        </div>



        <div class="dropdown me-5" *ngIf="auth.isConnected()">
            <a class="btn btn-warning dropdown-toggle py-2 px-4" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Bonjour {{ userConnected.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">

                <li><a class="dropdown-item" [routerLink]="['logout']">Logout</a></li>

            </ul>
        </div>

    </nav>


</header>