<div class="container pt-2">
    <h1 class="mb-4">Liste des réservations</h1>

    <div class="m-3">
        <div class="alert alert-success mb-3 alert-dismissible fade show" role="alert"
            *ngFor="let successMessage of successMessageList">
            <fa-icon [icon]="faCheckCircle" class="me-2"></fa-icon>{{successMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger mb-3 alert-dismissible fade show" role="alert"
            *ngFor="let errorMessage of errorMessageList">
            <fa-icon [icon]="faExclamationTriangle" class="me-2"></fa-icon>{{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>



    <div class="mb-4 row row-cols-lg-auto">
        <div class="col-6">
            <button (click)="refreshView()" class="btn btn-primary me-3">
                <fa-icon [icon]="faSync"></fa-icon>
            </button>
            <button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#modal"
                (click)="add()">
                <fa-icon [icon]=faPlusCircle class="me-1"></fa-icon> Ajouter une réservation
            </button>
        </div>
        <div class="col-2 mx-auto ">
            <div class="input-group"> 
                <button type="button" class="btn btn-secondary" (click)="filtrer()" >
                    <fa-icon [icon]=faSearch class="me-2"></fa-icon>Chercher par client
                </button>
                <input type="text" class="form-control" placeholder="Client" [(ngModel)]="clientRecherche" ngModel>
            </div>
        </div>
        <div class="col-2">
            <div class="input-group">
                <button type="button" class="btn btn-warning" (click)="filtrer()">
                    <fa-icon [icon]=faFilter class="me-2"></fa-icon>Filtrer par hôtel
                </button>
                <select class="form-select" name="hotel" id="hotel"
                    [(ngModel)]="hotelIdFiltre" ngModel>
                    <option value="0" selected>Tous les hôtels</option>
                    <option *ngFor="let hotel of hotelList" [ngValue]="hotel.id">{{ hotel.nom }}</option>
                </select>
                
            </div>
        </div>
    </div>

    <table class="table table-striped table-warning">
        <thead>
            <tr>
                <th class="ps-4 pt-3">#</th>
                <th>Hôtel</th>
                <th>Client</th>
                <th>Arrivée</th>
                <th>Départ</th>
                <th>Chambre n°</th>
                <th class="pe-4">
                    <fa-icon [icon]="faCogs"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resa of resaList ">
                <td class="ps-4">{{resa.id}}</td>
                <td> {{resa.hotel?.nom}}</td>
                <td> {{resa.client?.nom}}</td>
                <td> {{resa.dateDeb}}</td>
                <td> {{resa.dateFin}}</td>
                <td> {{resa.num_chambre}}</td>
                <td class="pe-4">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal"
                            (click)="edit(resa.id!)">
                            <fa-icon [icon]=faEdit></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger" (click)="delete(resa)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>



</div>




<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalAddEdit" aria-hidden="true">
    <div class="modal-dialog">
        <form name="resaForm" ngNativeValidate (submit)="submitForm()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modalTitre}}</h5>
                    <button type="button" class="btn-close" #closeModalButton data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <div class="input-group flex-nowrap mb-3">
                        <label for="hotel" class="input-group-text" id="addon-wrapping">Hôtel</label>
                        <select class="form-select" name="hotel" id="hotel" [compareWith]="compareHotelFn"
                            [(ngModel)]="resa.hotel" ngModel>
                            <option *ngFor="let hotel of hotelList" [ngValue]="hotel">{{ hotel.nom }}</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <label for="client" class="input-group-text" id="addon-wrapping">Clients</label>
                        <select class="form-select" name="client" id="client" [compareWith]="compareClientFn"
                            [(ngModel)]="resa.client" ngModel>
                            <option *ngFor="let client of clientList" [ngValue]="client">{{ client.nom }}</option>
                        </select>
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <label for="dateDeb" class="input-group-text" id="addon-wrapping">Arrivée</label>
                        <input type="date" class="ps-2" name="dateDeb" id="dateDeb" [(ngModel)]="resa.dateDeb" ngModel>
                        <label for="dateFin" class="input-group-text" id="addon-wrapping">Départ</label>
                        <input type="date" class="ps-2" name="dateFin" id="dateFin" [(ngModel)]="resa.dateFin" ngModel>
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <label for="num_chambre" class="input-group-text">Chambre n°</label>
                        <input type="number" class="ps-2" name="num_chambre" id="num_chambre" max=100
                            [(ngModel)]="resa.num_chambre" ngModel>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <button type="button" class="btn btn-danger float-end" (click)="reset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>